@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.add-team-button {
    @include flex-center;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background-color: $jeopardy-blue;

    &__icon {
        width: 70%;
        transform: rotate(45deg);
    }
}