@use '../../partials/variables' as *;
@use '../../partials/placeholders' as *;

.add-team-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
    color: $jeopardy-gold;
    background-color: $jeopardy-blue;
    text-align: center;
    box-shadow: 0 0 5px 0px black;
    
    &__label {
        width: 100%;
        margin-bottom: 1.25rem;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }

    &__input {
        @extend %basic-input;
    }

    &__button {
        @extend %clear-button-styles;
    }

    &__icon {
        @extend %basic-icon;
    }
}