@font-face {
    font-family: 'Gyparody';
    src: url('../assets/fonts/Gyparody.woff2') format('woff2'),
         url('../assets/fonts/Gyparody.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}